- attributes("title") = "EDRP"

link(href='/css/bootstrap.css')(rel='stylesheet')
link(href='/css/font-awesome.min.css')(rel='stylesheet')
link(href='/css/shared.min.css')(rel='stylesheet')

script(src="/js/d3.v3.min.js")
script(src="/js/three.min.js")
script(src="/js/plotly-latest.min.js")
script(src="/js/lodash.min.js")
script(src="/js/edrp.js")

.wrap
  .container-fluid.container-main
    .page-home
      .page-header-wrapper
        .page-header
          h1 EDRP - Elite: Dangerous Route Planner
      .panel.panel-edrp
        div(id='myDiv')(style='height:600px')