- attributes("title") = "EDRP"

.wrap
  .container-fluid.container-main
    ul.breadcrumb
      li
        a(href='/') Home
      li.active Exploration Route Finder
    .page-header
      h1 Exploration Route Finder

      .panel.panel-edrp
        div(id='myDiv')(style='height:600px')

      .panel.panel-eddb
        .panel-heading.clearfix Exploration Route Finder
        .panel-body
          .row
            .col-sm-6
              h3 Route Settings
              table.table-route-filter
                tbody
                  tr
                    td
                      span.filter-label Starting System
                    td
                      input(placeholder='Sol')
                  tr
                    td
                      span.filter-label Max System Distance From Start
                    td
                      input(placeholder="2000")
                        span ly
                  tr
                    td
                      span.filter-label(
                        title = 'Maximum distance you are willing to ' +
                          'travel inside a sytstem to visit a body'
                      ) Max Body Distance From Arrival
                    td
                      input(placeholder = "500")
                        span ls
                  tr
                    td
                      span.filter-label(
                        title = 'Minimum sum of the scan value for all valuable bodies' +
                          'in a system that meet the filter criteria'
                      ) Minimum Value
                    td
                      input(placeholder = "2000000")
                        span credits

          .row
            .col-xs-6.filter-group
              h3 Origin System
              input#w0(type='hidden')(name='systemSelect')(value='15044')

          hr
          button.btn.btn-action.no-select
            i.fa.fa-connectdevelop
            |  Find route
          button.btn.btn-action(type='button')
            i.fa.fa-question-circle
            |  Help

      .hops-result
        div
          div
            | Total Profit:
            span
            |  Cr
        .hops-result-bottom.box
          .box-heading
            | No hops could be found or we hit a dead end. Please weaken your filter and try to enable the fuzzy mode.
        .location.animation
          span
          span
          .box
            .box-heading
              i.fa.fa-building-o
              a(href='/station/{{location.station.id}}')
              span(station-type-suffix='')(station='location.station')
              span.seperator
                i.fa.fa-angle-right
              i.fa.fa-dot-circle-o
              a(href='/system/{{location.system.id}}')
              span.seperator
                i.fa.fa-angle-right
              i.fa.fa-clipboard.copy-clipboard(title='Copy system name to clipboard')(data-clipboard-text='{{location.system.name}}')(data-placement='top')
              span.pull-right
                small
                span.seperator
                  i.fa.fa-angle-right
                span
                |  ls
                span.seperator
                  i.fa.fa-angle-right
                |  Pad:
                span(ng-bind='location.station.max_landing_pad_size | landingPadResult')
            .box-body.clearfix
              .result-locations.pull-left
                span(ng-show='sellHop')
                  i.fa.fa-angle-left.buySell-pre
                  |                             Sell:
                  span.commodity-count(ng-bind='sellHop.count')
                  |  ×
                  i.fa.fa-cube
                  strong
                    a(href='/commodity/{{sellHop.commodity.id}}')
                  |                                     for
                  strong
                    span(ng-bind='sellHop.sellListing.sell_price | number')
                    |  Cr
                  br
                span(ng-show='buyHop')
                  i.fa.fa-angle-right.buySell-pre
                  |                             Buy:
                  span.commodity-count
                  |  ×
                  i.fa.fa-cube
                  strong
                    a(href='/commodity/{{buyHop.commodity.id}}')
                  |                                     for
                  strong
                    span
                    |  Cr
                  small
                    | Supply:
                    span
              span.pull-right.buffer-left.text-right
                span.semi-strong
                  | Unit Profit:
                  strong
                  |  Cr
                br
                span.bigger
                  | Profit:
                  span
                  |  Cr
          .hop-space.clearfix
            i.fa.fa-arrow-down.pull-left
            span.hop-space-distance
              span
                span
                |  ly
                i.fa.fa-long-arrow-right
                span
                  span
                  |  ly
            i.fa.fa-arrow-down.pull-right
        .box.hops-result-bottom
          .box-heading.box-heading-standalone.clearfix
            .pull-left.highlight
              | Total Profit:
              span
              |  Cr
            .pull-right.highlight.highlight-action
              i.fa.fa-arrow-down
              |  Load more!
              i.fa.fa-arrow-down