- attributes("title") = "EDRP"

.wrap
  .container-fluid.container-main
    .page-home
      .page-header-wrapper
        .page-header
          h1 EDRP - Elite: Dangerous Route Planner
      .quick-links.clearfix
        .row
          a.quick-box(href='edrp')
            .headline
              i.fa.fa-random
              | Route Planner
            .body
              | Plan your exploration route!
      .panel.panel-edrp
        .panel-heading News
        .panel-body.front-news
          .featured-main-list
            .featured
              | Exploration route planner added!
              small 16-10-16
            p
              | You can read more on the
              strong
                a(href='edrp') EDRP page
              | .
            hr
          hr
footer.footer
  .container
    p.pull-left
      strong
        | © EDRP 2017 - A site about exploration routes in
        a(href='https://www.elitedangerous.com/')
          i Elite: Dangerous
        | .

