-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title= title
    link(href='/css/ext/bootstrap.css')(rel='stylesheet')
    link(href='/css/ext/font-awesome.min.css')(rel='stylesheet')
    link(href='/css/shared.min.css')(rel='stylesheet')
  body
    nav#w0.navbar-inverse.navbar-fixed-top.navbar(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/')
            img(src='images/logo.png')
        #w0-collapse.collapse.navbar-collapse
          ul#w1.navbar-nav.navbar-right.nav
            li
              a(href='edrp') Exploration Route Planner
    #content
      != body
    script(src='/js/ext/jquery.js')
    script(src='/js/ext/yii.js')
    script(src='/js/ext/bootstrap.js')
    script(src='/js/main.js')
